.completada {
    text-decoration: line-through;
    background-color: #ecfdf5;
    color: #6b7280;
    border-left: 5px solid var(--completed);

}
.pendiente {
    font-weight: bold;
    border-left: 5px solid var(--danger);
}


.tarea{
    background-color: var(--white);
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
    
    transition: all var(--transition);
}

.botones{
    display: flex;
    align-items: center;
}